
<!-- ====== Page content ======-->
<!-- {{>nav_side}} -->
<section class="full-width section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <!--<buttom class="btn btn-default btn-block visible-xs btn-dropdown-conatiner"
                        data-drop-cont=".user-menu-xs">
                    <i aria-hidden="true" class="fa fa-user fa-fw"></i> MOSTRAR MENÚ <i aria-hidden="true"
                                                                                        class="fa fa-sort pull-right"></i>
                </buttom> -->
                <div class="full-width user-menu-xs" style="text-align: center">
                        <div class="full-width post-user-info" style="margin: 0 !important;">
                            <!-- {{#admin}} -->
                            <p class="full-width"><small *ngIf="loginService.isLogged() && loginService.isAdmin()">ADMIN</small></p>
                            <!-- {{/admin}} -->
                            <p class="full-width"><small>{{loginService.currentUser().full_NAME}}</small></p>
                            <img alt="User" class="" height="auto" src="/assets/img/user.png"
                                 style="border:1px;top:0px;" width="90px">
                            <p class="full-width"><small>{{loginService.currentUser().name}}</small></p>
                            <div class="full-width div-table">
                                <div class="full-width div-table-row">
                                    <div class="div-table-cell div-table-cell-xs"
                                         style="height: auto !important; line-height: inherit; border:none;">
                                        {{loginService.currentUser().n_SELL}} <br>
                                        <small>En venta</small>
                                    </div>
                                    <div class="div-table-cell div-table-cell-xs"
                                         style="height: auto !important; line-height: inherit; border:none;">
                                        {{loginService.currentUser().n_SOLD}} <br>
                                        <small>Vendidos</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="full-width list-group" style="border-radius: 0;">
<!-- {{>nav_side}} -->

<a class="list-group-item" href="profile">
    <i aria-hidden="true" class="fa fa-user fa-fw"></i> TU PERFIL
</a>
<a class="list-group-item" href="yourcommercial">
    <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> TUS ANUNCIOS
</a>
<a class="list-group-item" href="yourcommercialsold">
    <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> TUS ANUNCIOS VENDIDOS
</a>
<a class="list-group-item" href="favorites">
    <i aria-hidden="true" class="fa fa-heart-o fa-fw"></i> FAVORITOS
</a>
<span *ngIf="loginService.isAdmin()">
    <a class="list-group-item" href="/category">
        <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> GESTIÓN CATEGORÍAS
    </a>
    <a class="list-group-item" href="/reports">
        <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> GESTIÓN REPORTES
    </a>
</span>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-8 col-md-9">
    <div class="full-width bar-info-user">
        <div>GESTIÓN CATEGORÍAS</div>
    </div>
    <!-- Content -->
    <section class="full-width hidden-md hidden-lg Search-mobile">
        <form action="commercial" style="padding-top: 15px;">
            <div class="form-group">
                <input class="form-control input-lg" placeholder="Estoy buscado..." required="" type="text">
            </div>
            <div class="form-group">
                <input class="form-control input-lg" placeholder="Provincia, ciudad, distrito..." required=""
                       type="text">
            </div>
            <button class="btn btn-danger btn-lg" type="submit">BUSCAR</button>
        </form>
    </section>
    <!-- ====== Page content ======-->
    <section class="section">
        <h2 class="text-center text-light">CATEGORÍAS</h2>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="border: 1px solid #E1E1E1;">
                    <form action="/commercialCategory" class="form-horizontal" method="post">
                        <h3 class="text-info">Busca una categoría</h3>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">
                                <label>Busca categoría</label>
                            </div>
                            <div class="col-sm-7">
                                <!--
                                <div class="form-group">
                                    <select class="form-control" name="lcategories">
                                        {{#lcategory}}
                                        <option name="ID_CATEGORY" value="{{ID_CATEGORY}}">{{TITLE}}</option>
                                        {{/lcategory}}
                                    </select>
                                    <input name="_csrf" type="hidden" value="{{token}}"/>
                                    <input class="btn btn-default" type="submit" value="Buscar Categoria"></input>
                                </div>
                            -->
                                <div class="form-group">
                                    <a href="categoryList">VER LISTADO CATEGORÍAS</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br><br>
                    <form action="/newCategory" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <h3 class="text-info">Añade una nueva Categoría</h3>
                        <div class="form-inline">
                            <div class="col-sm-3 control-label">
                                <label>Nombre categoría</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input #title class="form-control" name="TITLE" placeholder="Añade nueva categoría"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">
                                <label>Descripción</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <textarea class="form-control" name="DESCRIPTION" placeholder="Descripción"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">
                                <label>Icono</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="ICON" placeholder="Icono" type="text">
                                    <p>Busca aquí el icono que quieres utilizar: <a
                                            href="https://fontawesome.com/search?m=free&s=solid%2Cbrands">Fontawesome</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                        <!--
                        <h3 class="text-info">Foto</h3>
                        <p>¡Añade una foto a la categoría!</p>
                        <div class="form-group">
                            <div class="custom-input-file">
                                <input accept=".jpg, .jpeg" class="input-file" name="imageField" size="1" type="file"/>
                                <i aria-hidden="true" class="fa fa-picture-o"></i>
                            </div>
                            <br>
                            <p class="text-muted text-center archivo">Archivo...</p>
                        </div>
                    -->
                        <!--<input name="_csrf" type="hidden" value="{{token}}"/>-->
                        <p class="text-center">
                            <button (click)="addCategory($event, title.value)" class="btn btn-danger btn-lg" type="submit">Guardar</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
    </div>
</section>