<!-- ====== Page content ======-->
<header class="full-width header-index">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center text-dark">WALLYPOP</h1>
        <h2 class="text-center text-light">Lo vivo y luego lo vendo</h2>
        <h3 class="text-center text-light">Haz tuyo lo de los demás…</h3>
      </div>
    </div>
  </div>
  <br><br>
  <search></search>
</header>
<section class="section">
  <h2 class="text-center text-light">Todas las categorías que imaginas</h2>
  <div class="container">
    <div class="full-width container-category">
      <a *ngFor="let category of categories" href="/commercial/{{category.id_CATEGORY}}" id="categori-{{category.id_CATEGORY}}">
        <i aria-hidden="true" class="fa fa-{{category.icon}}"></i>
      <span>{{category.title}}</span>
      </a>
    </div>
  </div>
</section>
<!--  {{>graphic}} -->
<section class="section" style="background-color: #F5F5F5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <figure class="full-width">
          <img alt="" class="img-responsive" src="../assets/img/smartphone.png"
               style="width: 40%; margin: 0 auto;">
        </figure>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2 class="text-center text-light">¡Llévanos siempre contigo! Descárgate nuestra app</h2>
        <h3 class="text-center text-light">Dinos tu número y recibirás el enlace para descargar nuestra app</h3>
        <br>
        <form class="form-inline text-center">
          <div class="form-group">
            <select class="form-control">
              <option>Android</option>
              <option>iPhone</option>
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Escribe tu número móvil" required="" type="text">
          </div>
          <button class="btn btn-danger" type="submit">DESCARGAR APP</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <!-- <center> -->
      <div style="text-align: center">
      <div class="col-xs-12 col-sm-4">
        <i aria-hidden="true" class="fa fa-flag-checkered icon-index"></i>
        <p class="lead">
          Olvídate del miedo a equivocarte y lánzate a por lo que quieres. Ya no importa lo que tienes,
          sino lo que puedes llegar a hacer.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <i aria-hidden="true" class="fa fa-gamepad icon-index"></i>
        <p class="lead">
          Disfruta hasta de tus cambios de opinión y vive todas las oportunidades que quieras, sin
          complejos.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <i aria-hidden="true" class="fa fa-money icon-index"></i>
        <p class="lead">
          Compra lo que te queda por vivir y vende lo que ya has vivido de la forma más rápida y cómoda
          que existe.
        </p>
      </div>
      <!-- </center> -->
      </div>
    </div>
  </div>
</section>
