{{>header}}
<!-- ====== Contenido de pagina ======-->
<section class="section">
    <h2 class="text-center text-light"><i aria-hidden="true" class="fa fa-life-ring"></i> ¿En qué podemos ayudarte?</h2>
    <br>
    <div class="full-width" style="border-bottom: 5px solid #00a9e2; height: 0; margin: 25px 0;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="list-group">
                    <a class="list-group-item active" href="#!">Mi área de gestión</a>
                    <a class="list-group-item" href="#!">Gestión de mis anuncios</a>
                    <a class="list-group-item" href="#!">Modificación de datos</a>
                    <a class="list-group-item" href="#!">Consultas técnicas</a>
                    <a class="list-group-item" href="#!">Compra y vende seguro</a>
                    <a class="list-group-item" href="#!">Reglas de publicación</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="page-header">
                    <h3 class="text-light">Mi área de gestión</h3>
                </div>
                <p>
                    Aqui encontraras ayuda sobre el acceso a tu area privada, ademas de información para cualquier duda
                    relacionada con los productos que tengas contratados.
                </p>
                <div class="list-group">
                    <a class="list-group-item" href="#!">Lorem ipsum dolor sit amet</a>
                    <a class="list-group-item" href="#!">Lorem ipsum dolor sit amet</a>
                    <a class="list-group-item" href="#!">Lorem ipsum dolor sit amet</a>
                    <a class="list-group-item" href="#!">Lorem ipsum dolor sit amet</a>
                    <a class="list-group-item" href="#!">Lorem ipsum dolor sit amet</a>
                    <a class="list-group-item" href="#!">Lorem ipsum dolor sit amet</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer}}