	{{>header}}
	<!-- ====== Contenido de pagina ======-->
	<section class="section">
		<h2 class="text-center text-light"><i class="fa fa-life-ring" aria-hidden="true"></i> ¿En qué podemos ayudarte?</h2>
		<br>
		<div class="full-width" style="border-bottom: 5px solid #00a9e2; height: 0; margin: 25px 0;"></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="list-group">
					  	<a href="#!" class="list-group-item active">Mi área de gestión</a>
					  	<a href="#!" class="list-group-item">Gestión de mis anuncios</a>
					  	<a href="#!" class="list-group-item">Modificación de datos</a>
					  	<a href="#!" class="list-group-item">Consultas técnicas</a>
					  	<a href="#!" class="list-group-item">Compra y vende seguro</a>
					  	<a href="#!" class="list-group-item">Reglas de publicación</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="page-header">
					  	<h3 class="text-light">Mi área de gestión</h3>
					</div>
				  	<p>
				  		Aqui encontraras ayuda sobre el acceso a tu area privada, ademas de información para cualquier duda relacionada con los productos que tengas contratados.
				  	</p>
				  	<div class="list-group">
					  	<a href="#!" class="list-group-item">Lorem ipsum dolor sit amet</a>
					  	<a href="#!" class="list-group-item">Lorem ipsum dolor sit amet</a>
					  	<a href="#!" class="list-group-item">Lorem ipsum dolor sit amet</a>
					  	<a href="#!" class="list-group-item">Lorem ipsum dolor sit amet</a>
					  	<a href="#!" class="list-group-item">Lorem ipsum dolor sit amet</a>
					  	<a href="#!" class="list-group-item">Lorem ipsum dolor sit amet</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{>footer}}