{{>header}}
<!-- ====== Contenido de pagina ======-->
<section class="full-width section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <buttom class="btn btn-default btn-block visible-xs btn-dropdown-conatiner"
                        data-drop-cont=".user-menu-xs">
                    <i aria-hidden="true" class="fa fa-user fa-fw"></i> MOSTRAR MENÚ <i aria-hidden="true"
                                                                                        class="fa fa-sort pull-right"></i>
                </buttom>
                <div class="full-width user-menu-xs">
                    <div class="full-width post-user-info" style="margin: 0 !important;">
                        <!--<i class="fa fa-user NavBar-Nav-icon" aria-hidden="true"></i>-->
                        <img alt="User" class="NavBar-Nav-icon" src="assets/img/user.png">
                        <p class="full-width"><small>Nombre de usuario</small></p>
                        <div class="full-width div-table">
                            <div class="full-width div-table-row">
                                <div class="div-table-cell div-table-cell-xs"
                                     style="height: auto !important; line-height: inherit; border:none;">
                                    0 <br>
                                    <small>En venta</small>
                                </div>
                                <div class="div-table-cell div-table-cell-xs"
                                     style="height: auto !important; line-height: inherit; border:none;">
                                    0 <br>
                                    <small>Vendidos</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-width list-group" style="border-radius: 0;">
                        <div class="list-group-item text-center">
                            <small>Desde Junio 2016</small>
                        </div>
                        <a class="list-group-item" href="perfil.html">
                            <i aria-hidden="true" class="fa fa-user fa-fw"></i> TU PERFIL
                        </a>
                        <a class="list-group-item" href="config.html">
                            <i aria-hidden="true" class="fa fa-cogs fa-fw"></i> CONFIGURACIÓN
                        </a>
                        <a class="list-group-item" href="yourcommercial.html">
                            <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> TUS ANUNCIOS
                        </a>
                        <a class="list-group-item active" href="messages.html">
                            <i aria-hidden="true" class="fa fa-commenting-o fa-fw"></i> MENSAJES
                        </a>
                        <a class="list-group-item" href="favorites.html">
                            <i aria-hidden="true" class="fa fa-heart-o fa-fw"></i> FAVORITOS
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="full-width bar-info-user">
                    <i aria-hidden="true" class="fa fa-commenting-o fa-fw"></i>
                    <div>MENSAJES</div>
                </div>
                <!-- Contenido-->
                <div class="full-width" style="padding: 15px; border: 1px solid #E1E1E1;">
                    <div class="media">
                        <div class="media-left">
                            <a href="#!">
                                <img alt="" class="media-object" src="assets/img/user.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nombre usuario <small class="pull-right text-muted">Hace 20
                                min.</small></h4>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique veritatis eaque
                                inventore numquam optio, esse id perferendis autem ipsum excepturi fugit fugiat tempore
                                quisquam, reiciendis quis dolores aperiam. Est, ducimus.
                            </p>
                            <div class="full-width">
                                <a class="btn-res" href="#!">Responder</a>
                                <div class="full-width res-msj">
                                    <form>
                                        <div class="form-group">
                                            <textarea class="form-control" cols="5"></textarea>
                                        </div>
                                        <button class="btn btn-info">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="media-left">
                            <a href="#!">
                                <img alt="" class="media-object" src="assets/img/user.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nombre usuario <small class="pull-right text-muted">Hace 20
                                min.</small></h4>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique veritatis eaque
                                inventore numquam optio, esse id perferendis autem ipsum excepturi fugit fugiat tempore
                                quisquam, reiciendis quis dolores aperiam. Est, ducimus.
                            </p>
                            <div class="full-width">
                                <a class="btn-res" href="#!">Responder</a>
                                <div class="full-width res-msj">
                                    <form>
                                        <div class="form-group">
                                            <textarea class="form-control" cols="5"></textarea>
                                        </div>
                                        <button class="btn btn-info">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="media-left">
                            <a href="#!">
                                <img alt="" class="media-object" src="assets/img/user.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nombre usuario <small class="pull-right text-muted">Hace 20
                                min.</small></h4>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique veritatis eaque
                                inventore numquam optio, esse id perferendis autem ipsum excepturi fugit fugiat tempore
                                quisquam, reiciendis quis dolores aperiam. Est, ducimus.
                            </p>
                            <div class="full-width">
                                <a class="btn-res" href="#!">Responder</a>
                                <div class="full-width res-msj">
                                    <form>
                                        <div class="form-group">
                                            <textarea class="form-control" cols="5"></textarea>
                                        </div>
                                        <button class="btn btn-info">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer}}