<!-- ====== Page content ======-->
<section class="full-width section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs">
                <h2 class="text-center text-danger text-semi-bold">Tu cuenta</h2>
                <p class="lead text-center">
                    Gestiona tus anuncios, tus favoritos, compra y vende cuando y desde dónde quieras
                </p>
                <figure class="full-width">
                    <img alt="" class="img-responsive" src="assets/img/Devices.png">
                </figure>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="full-width container-login">
                    <i aria-hidden="true" class="fa fa-user container-login-icon"></i>
                    <h4 class="text-center text-light">CREA UNA CUENTA</h4>
                    <br>
                    <!-- {{#ERROR}} -->
                    <!-- <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div style="text-align: center" class="alert alert-warning" role="alert">
                                    El correo electrónico ha sido utilizado<br>
                                    <a href="login">Intente iniciar sesión</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- {{/ERROR}} -->
                    <form>
                        <div class="form-group">
                            <input #fullName class="form-control input-lg" class="form-control" name="FULL_NAME"
                                   placeholder="Nombre y apellidos" type="text">
                        </div>
                        <div class="form-group">
                            <input #email class="form-control input-lg" class="form-control" name="NAME" placeholder="Email"
                                   type="email">
                        </div>
                        <div class="form-group">
                            <input #tel class="form-control input-lg" class="form-control" name="TEL" placeholder="Teléfono"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <input #password class="form-control input-lg" class="form-control" name="PASSWORD"
                                   placeholder="Contraseña" type="password">
                        </div>
                        <p>Al registrarte aceptas las <a href="#!" style="display: inline-block;">condiciones de uso y
                            la Política de Privacidad</a></p>
                        <button (click)="register($event, fullName.value, email.value, tel.value, password.value)" class="btn btn-danger btn-lg" type="submit">CREAR CUENTA</button>
                        <a class="text-center" href="/new/login">Ya tengo una cuenta</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
