<!-- {{>header}}  -->   <!-- ====== Page content ======-->
<section class="section">
    <h2 class="text-center text-light">Pon tu anuncio gratis</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="border: 1px solid #E1E1E1;">
                <form action=/newcommercial class="form-horizontal" enctype="multipart/form-data" method="post">
                    <h3 class="text-info">Busca la categoría donde verán tu anuncio</h3>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            <label>¿Qué anuncias?<small>Pulsando Ctrl puedes seleccionar varias
                                catgorías</small></label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <select class="form-control" multiple name="CATEGORYS">
                                    <!-- {{#lcategory}}-->
                                    <option name="CATEGORY" value="uploadCategories($event)">"uploadCategories($event)"</option>
                                    <!-- {{/lcategory}} -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h3 class="text-info">Detalles de tu anuncio</h3>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Título del anuncio</label>
                        <div class="col-sm-7">
                            <input #title class="form-control" name="TITLE" placeholder="Título del anuncio" required=""
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-7">
                            <textarea #description NAME="DESCRIPTION" class="form-control" placeholder="Descripción" required=""
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Precio</label>
                        <div class="col-sm-7">
                            <input #price class="form-control" name="PRICE" placeholder="Precio" required="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ciudad</label>
                        <div class="col-sm-7">
                            <input #city class="form-control" name="CITY" placeholder="Ciudad" required="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Código postal</label>
                        <div class="col-sm-7">
                            <input #postal_code class="form-control" name="POSTAL_CODE" placeholder="Código postal" required=""
                                   type="text">
                        </div>
                    </div>
                    <br><br>
                    <h3 class="text-info">Foto</h3>
                    <p>¡los anuncios con fotos reciben 7 veces más contactos!</p>
                    <div class="form-group">
                        <div class="custom-input-file">
                            <input accept=".jpg, .jpeg" class="input-file" name="imageField" size="1" type="file"/>
                            <i aria-hidden="true" class="fa fa-picture-o"></i>
                        </div>
                        <br>
                        <p class="text-muted text-center archivo">Archivo...</p>
                    </div>
                    <p class="text-center">
                        Al publicar un anuncio, aceptas las <a href="#!">condiciones de uso y la Política de
                        Privacidad</a>
                    </p>
                    <input name="_csrf" type="hidden" value="{{token}}"/>
                    <p class="text-center">
                        <button (click)="addArticle($event, title.value, description.value, city.value, price.value, postal_doce.value)" class="btn btn-danger btn-lg" type="submit">Guardar</button>                
                    </p>
                </form>
            </div>
        </div>
    </div>

</section>
{{>footer}}