{{>header}}
	<!-- ====== Contenido de pagina ======-->
	<section class="section">
		<h2 class="text-center text-light">Pon tu anuncio gratis</h2>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1" style="border: 1px solid #E1E1E1;">
					<form method="post" action=yourcommercial class="form-horizontal">
						<h3 class="text-info">Busca la categoría donde verán tu anuncio</h3>
						<div class="form-inline">
							<div class="col-sm-3 control-label">
						    	<label>¿Qué anuncias?</label>
							</div>
							<div class="col-sm-7">
							  	<div class="form-group">
							    	<select name="cATEGORY" id="categories" class="form-control" aria-label="Selecciona una categoría">
										<option disabled selected>Selecciona una categoría</option>
										<option value="1">Calzado</option>
										<option value="2">Herramientas</option>
										<option value="3">Hogar</option>	
										<option value="4">Jardín</option>
										<option value="5">Papelería</option>																				
										<option value="6">Piscina</option>										
										<option value="7">Varios</option>
										<option value="8">Ropa</option>
										
										
										
									  </select>
									<!-- <input type="text" class="form-control" placeholder="Dinos que anuncias"> -->
							  	</div>
							  	<!-- <button class="btn btn-default">Buscar categoría</button> -->
							</div>
						</div>
						<br><br>
						<h3 class="text-info">Detalles de tu anuncio</h3>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Ciudad</label>
						    <div class="col-sm-7">
						      	<input type="text" class="form-control" placeholder="Ciudad" name="cITY">
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Título del anuncio</label>
						    <div class="col-sm-7">
						      	<input type="text" class="form-control" placeholder="Título del anuncio" name ="tITLE">
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Descripción</label>
						    <div class="col-sm-7">
						    	<textarea class="form-control" rows="3" placeholder="Descripción" NAME ="dESCRIPTION"></textarea>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Precio</label>
						    <div class="col-sm-7">
						    	<input type="text" class="form-control" placeholder="Precio" name="pRICE">
						    </div>
						</div>
						<br><br>
						<h3 class="text-info">Foto</h3>
						<p>¡los anuncios con fotos reciben 7 veces más contactos!</p>
						<div class="form-group">
						    <div class="custom-input-file">
						    	<input type="file" size="1" class="input-file" />
							    <i class="fa fa-picture-o" aria-hidden="true"></i>
							</div>
							<br>
							<p  class="text-muted text-center archivo">Archivo...</p>
						</div>
						<!-- <br><br>
						<h3 class="text-info">Datos para que te contacten</h3>
						<div class="form-group">
							<label class="col-sm-3 control-label">Eres</label>
							<div class="col-sm-7">
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Particular
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Profesional
								</label>
							</div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Tu nombre</label>
						    <div class="col-sm-7">
						    	<input type="text" class="form-control" placeholder="Nombre">
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">E-mail</label>
						    <div class="col-sm-7">
						    	<input type="email" class="form-control" placeholder="E-mail">
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Confirmar E-mail</label>
						    <div class="col-sm-7">
						    	<input type="email" class="form-control" placeholder="Confirmar E-mail">
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-3 control-label">Teléfono</label>
						    <div class="col-sm-7">
						    	<input type="tel" class="form-control" placeholder="Teléfono">
						    </div>
						</div> -->
						<p class="text-center">
							Al publicar un anuncio, aceptas las <a href="#!">condiciones de uso y la Política de Privacidad</a>
						</p>
						<p class="text-center">
							<!--  <button  type="submit" value="Enviar" class="btn btn-info">Continuar</button>	 -->
							<input  type="submit" value="Enviar" class="btn btn-info"></input>
						</p>
					</form>
				</div>
			</div>
		</div>

	</section>
	{{>footer}}