{{>header}}
	<!-- ====== Page content ======-->
	{{>nav_side}}
						  	<a href="perfil" class="list-group-item">
						  		<i class="fa fa-user fa-fw" aria-hidden="true"></i> TU PERFIL
						  	</a>
						  	<a href="yourcommercial" class="list-group-item">
						  		<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> TUS ANUNCIOS
						  	</a>
							  <a href="yourcommercialsold" class="list-group-item">
								<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> TUS ANUNCIOS VENDIDOS
							</a>
						  	<a href="favorites" class="list-group-item">
						  		<i class="fa fa-heart-o fa-fw" aria-hidden="true"></i> FAVORITOS
						  	</a>
						  	{{#admin}}
						  	<a href="categoriasAdmin" class="list-group-item active">
								<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> GESTIÓN CATEGORÍAS
							</a>
							<a href="reportesAdmin" class="list-group-item">
								<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> GESTIÓN REPORTES
							</a>
							{{/admin}}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<div class="full-width bar-info-user">
						<div>GESTIÓN CATEGORÍAS</div>
					</div>
					<!-- Content -->
	<section class="full-width hidden-md hidden-lg Search-mobile">
		<form action="commercial" style="padding-top: 15px;">
			<div class="form-group">
			    <input type="text" class="form-control input-lg" placeholder="Estoy buscado..." required="">
			</div>
			<div class="form-group">
			    <input type="text" class="form-control input-lg" placeholder="Provincia, ciudad, distrito..." required="">
			</div>
			<button class="btn btn-danger btn-lg" type="submit">BUSCAR</button>
		</form>
	</section>
	<!-- ====== Page content ======-->
	<section class="section">
		<h2 class="text-center text-light">CATEGORÍAS</h2>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1" style="border: 1px solid #E1E1E1;">
					<form method="post" action="/commercialCategory" class="form-horizontal">
						<h3 class="text-info">Busca una categoría</h3>
						<div class="form-group">
							<div class="col-sm-3 control-label">
						    	<label>Busca categoría</label>
							</div>
							<div class="col-sm-7">
							  	<div class="form-group">
							    	<select class="form-control" name="lcategories">
						    	    {{#lcategory}}
                                        <option value="{{ID_CATEGORY}}" name="ID_CATEGORY">{{TITLE}}</option>
                                    {{/lcategory}}
                                    </select>
                                   	 <input type="hidden" name="_csrf" value="{{token}}"/>
                                   	 <input  type="submit" value="Buscar Categoria" class="btn btn-default"></input>
							  	</div>
							  	<div class="form-group">
							  		<a href="categoriasAdminListado">VER LISTADO CATEGORÍAS</a>
							  	</div>
							</div>
						</div>
						</form>
						<br><br>
						<form method="post" action="/newCategory" class="form-horizontal" enctype="multipart/form-data">
						<h3 class="text-info">Añade una nueva Categoría</h3>
						<div class="form-inline">
							<div class="col-sm-3 control-label">
						    	<label>Nombre categoría</label>
							</div>
							<div class="col-sm-7">
							  	<div class="form-group">
							    	<input type="text" class="form-control" placeholder="Añade nueva categoría" name="TITLE">
							  	</div>
							</div>
						</div>
						<br>
						<br>
						<div class="form-group">
						    <div class="col-sm-3 control-label">
						         <label>Descripción</label>
						    </div>
						    <div class="col-sm-7">
						         <div class="form-group">
						    	      <textarea class="form-control" rows="3" placeholder="Descripción" name="DESCRIPTION"></textarea>
						         </div>
						    </div>
						</div>
						<div class="form-group">
						    <div class="col-sm-3 control-label">
						         <label>Icono</label>
						    </div>
						    <div class="col-sm-7">
						         <div class="form-group">
						    	      <input type="text" class="form-control" placeholder="Icono" name="ICON">
						    	      <p>Busca aquí el icono que quieres utilizar: <a href="https://fontawesome.com/search?m=free&s=solid%2Cbrands">Fontawesome</a></p>
						         </div>
						    </div>
						</div>
						<br><br><br>
						<h3 class="text-info">Foto</h3>
						<p>¡Añade una foto a la categoría!</p>
						<div class="form-group">
						    <div class="custom-input-file">
						    	<input type="file" size="1" class="input-file" name="imageField" accept=".jpg, .jpeg"/>
							    <i class="fa fa-picture-o" aria-hidden="true"></i>
							</div>
							<br>
							<p  class="text-muted text-center archivo">Archivo...</p>
						</div>
						<input type="hidden" name="_csrf" value="{{token}}"/>
						<p class="text-center">
							<input  type="submit" value="Guardar" class="btn btn-info"></input>
						</p>
					</form>
				</div>
			</div>
		</div>
		</div>
	</section>
	{{>footer}}