{{>header}}
	<!-- ====== Contenido de pagina ======-->
	<section class="section">
		{{>search}}
		{{#ERROR}}
		<br>
		<div class="container">
			<div class="alert alert-danger" role="alert">
  				<center>El artículo que buscas no existe o ya no está disponible</center>
			</div>
		</div>
		{{/ERROR}}
		<hr>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-2">
					<div class="full-width" style="border: 1px solid #E1E1E1; border-radius: 4px; padding: 5px;">
						<button class="btn btn-default btn-block hidden-sm hidden-md hidden-lg btn-dropdown-conatiner" data-drop-cont=".menu-commercial">
							FILTROS <i class="fa fa-sort pull-right" aria-hidden="true"></i>
						</button>
						<form method="GET" action="/search/commercial" class="full-width menu-commercial">
							<h4 class="text-light">CATEGORÍA</h4>
							<div class="form-group">
								<select name="id_category" class="form-control">
									<option disabled selected>Selecciona una categoría</option>
									{{#lcategory}}
									<option name="CATEGORY" value="{{ID_CATEGORY}}">{{TITLE}}</option>
									{{/lcategory}}
								</select>
							</div>
							<p class="text-center">
								<button class="btn btn-success btn-block">APLICAR</button>
							</p>
							<p class="text-center">
								<a href="/commercial" type="reset" onclick="" class="btn btn-info btn-block">BORRAR FILTROS</a>
							</p>
							<p>
								<small>Anuncios segunda mano . Las mejores ofertas en de segunda mano y de ocasión solo en </small>
							</p>
						</form>
					</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10">
					<div class="full-width">
						<ol class="breadcrumb">
						{{#lcategory}}
					  		<li><a href="/commercial/{{ID_CATEGORY}}">{{TITLE}}</a></li>
					  	{{/lcategory}}
						</ol>
					</div>
					<div class="full-widht">
						<i class="fa fa-th-large btn btn-default hidden-xs btn-change-post"></i>
						<i class="fa fa-refresh btn btn-default"></i>
						<i class="fa fa-angle-right btn btn-default"></i>
					</div>
					<div class="full-width container-post">
						{{#Articles}}
						<div class="full-width post">
							<figure class="full-width post-img">
								<!-- Tamaño de la imagen 248x186 pixeles-->
								<img src="/article/{{ID_ARTICLE}}/imagen" alt="" class="img-responsive">
							</figure>
							<div class="full-width post-info">
								<a href="/post/{{ID_ARTICLE}}" class="full-width post-info-title">{{TITLE}}</a>
								<p class="full-width post-info-price">{{PRICE_s}}€</p>
								<span class="post-info-zone">{{CITY}}</span>
								<span class="post-info-date">{{DATE}}</span>
								<a href="/addFavorite/{{ID_ARTICLE}}"><i class="fa fa-heart-o post-info-like"></i></a>
							</div>
						</div>
						{{/Articles}}
					</div>
					<div class="clearfix"></div>
					<nav class="text-center">
						<ul class="pagination">
							<li>
							  	<a href="#" aria-label="Previous">
							    	<span aria-hidden="true">&laquo;</span>
							  	</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
							  	<a href="#" aria-label="Next">
							    	<span aria-hidden="true">&raquo;</span>
							  	</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
	{{>footer}}