<!-- ====== Pie de pagina ======-->
	<footer class="full-width footer">
		<div class="container">
			<p class="text-semi-bold">
				Compra y vende en Wallypop todo lo que ya no uses y recupera tu dinero. Compra más barato
			</p>
			<!-- <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum cum, ipsa ad, natus est deserunt perferendis assumenda ipsum esse voluptates quasi consectetur, laboriosam, sint suscipit quam sunt totam incidunt corporis.
			</p> -->
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4 class="text-light text-center">Síguenos en las redes sociales</h4>
					<ul class="list-unstyled fullwidth text-center footer-social">
						<li>
							<a href="#!">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-google-plus" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h4 class="text-light text-center">Descárgate nuestras apps gratuitas</h4>
					<ul class="list-unstyled fullwidth text-center footer-app-store">
						<li>
							<a href="#!">
								<i class="fa fa-apple" aria-hidden="true"></i> App Store
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-android" aria-hidden="true"></i> Play Store
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-windows" aria-hidden="true"></i> Windows Store
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="col-xs-12">
				<ul class="list-unstyled text-center full-width footer-copyright">
					<li>&copy; 2022 Wallypop Corporation</li>
					<!-- <li><a href="#!">Condiciones de uso</a></li>
					<li><a href="#!">Ayuda</a></li>
					<li><a href="#!">Políticas de uso</a></li>
					<li><a href="#!">Apps</a></li> -->
				</ul>
			</div>
		</div>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://kit.fontawesome.com/990e51666e.js" crossorigin="anonymous"></script>
</body>
</html>