<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Inicio</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!-- ====== Barra de navegacion ======-->
	<div class="full-width NavBar">
		<div class="full-width text-semi-bold NavBar-logo">
			<a href="/">
				<img src="/assets/img/LogoAPP.png"/>
			</a>	
			<!-- Company -->
		</div>
		<nav class=" full-width NavBar-Nav">
			<div class="full-width NavBar-Nav-bg hidden-md hidden-lg show-menu-mobile"></div>
			<ul class="list-unstyled full-width menu-mobile-c">
				<div class="full-width hidden-md hidden-lg header-menu-mobile">
					<i class="fa fa-times header-menu-mobile-close-btn show-menu-mobile" aria-hidden="true"></i>
					<i class="fa fa-user NavBar-Nav-icon header-menu-mobile-icon" aria-hidden="true"></i>
					{{^logged}}
					</br>
					<a href="/login" class="btn btn-info header-menu-mobile-btn">INICIAR SESIÓN</a>
					<div class="divider"></div>
					<a href="/newaccount" class="btn btn-primary header-menu-mobile-btn">CRÉATE UNA CUENTA</a>
					{{/logged}} {{#logged}} 
					<div class="nav navbar-nav navbar-right">
  						<ul class="nav navbar-nav">
    						<li>{{NAME}}</li>
    						<li><form action="/logout" method="post">
								<button class="btn btn-default navbar-btn" type="submit">Log Out</button>
    						    <!-- <input type="hidden" name="_csrf" value="{{token}}" /> -->
							</form></li>
						</ul>
					</div>
					{{/logged}}
				</div>
				<li>
					<a href="/">
						<i class="fa fa-home fa-fw hidden-md hidden-lg" aria-hidden="true"></i> INICIO
					</a>
				</li>
				{{#logged}}
				<li>
					<a href="/adcommercial">
						<i class="fa fa-pencil-square-o fa-fw hidden-md hidden-lg" aria-hidden="true"></i>  PON TU ANUNCIO
					</a>
				</li>
				<li>
					<a href="/yourcommercial">
						<i class="fa fa-object-group fa-fw hidden-md hidden-lg" aria-hidden="true"></i> TUS ANUNCIOS
					</a>
				</li>
				<!-- <li>
					<a href="messages">
						<i class="fa fa-commenting-o fa-fw hidden-md hidden-lg" aria-hidden="true"></i> MENSAJES
					</a>
				</li> -->
				<li>
					<a href="/favorites">
						<i class="fa fa-heart-o fa-fw hidden-md hidden-lg" aria-hidden="true"></i> FAVORITOS
					</a>
				</li>
				{{/logged}}
				<!--<li>
					<a href="/help">
						<i class="fa fa-life-ring fa-fw hidden-md hidden-lg" aria-hidden="true"></i> AYUDA
					</a>
				</li>-->
				{{#logged}}
				<li class="hidden-xs hidden-sm">
					{{^ADMIN}}
						<a href="/perfil">
					{{/ADMIN}} {{#ADMIN}}
						<a href="/perfilAdmin">
					{{/ADMIN}}
						{{FULL_NAME}} <i class="fa fa-user NavBar-Nav-icon" aria-hidden="true"></i>
					</a>
				</li>
				{{/logged}}
				{{^logged}}
				<li>
					<a href="/newaccount">
						<i class="fa fa-life-ring fa-fw hidden-md hidden-lg" aria-hidden="true"></i> CREAR CUENTA
					</a>
				</li>
				<li>
					<a href="/login">
						<i class="fa fa-life-ring fa-fw hidden-md hidden-lg" aria-hidden="true"></i> INICIAR SESIÓN
					</a>
				</li>
				<li class="hidden-xs hidden-sm">
					<i class="fa fa-user NavBar-Nav-icon" aria-hidden="true"></i>
				</li>
				<!-- 
					<li class="hidden-xs hidden-sm"><a class="btn-PopUpLogin" href="#!">INICIAR SESIÓN</a></li>
					<li class="hidden-xs hidden-sm"><i class="fa fa-user NavBar-Nav-icon btn-PopUpLogin" aria-hidden="true"></i></li>
				-->
				{{/logged}}
				{{#logged}} 
    						<!-- <li>{{NAME}}</li> -->
    						<!-- <li><form action="/logout" method="post">
								<button class="btn btn-default navbar-btn" type="submit">Log Out</button>
    						    <!-- <input type="hidden" name="_csrf" value="{{token}}" /> -->
							<!-- </form></li> -->
				<li>
					<form action="/logout" method="post">
						<button class="btn btn-default navbar-btn" type="submit">Log Out</button>
						<input type="hidden" name="_csrf" value="{{token}}" />
					</form>
				</li>
							<!-- <li>
								<a href="/logout">
									<i class="fa fa-life-ring fa-fw hidden-md hidden-lg" aria-hidden="true"></i> Cerrar sesión
								</a>
							</li> -->
						</ul>
					</div>
				{{/logged}}
			</ul>
		</nav>
		<i class="fa fa-bars hidden-md hidden-lg btn-mobile-menu show-menu-mobile" aria-hidden="true"></i>
		<i class="fa fa-search hidden-md hidden-lg btn-mobile-menu btn-search-mobile" aria-hidden="true"></i>
	</div>
	<!-- ====== PopUpLogin ======-->
	{{^logged}}
	<section class=" full-width PopUpLogin">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="LoginTab1">
				<form action="/login" method="POST" style="padding-top: 15px;">
					<div class="form-group">
					    <input type="email" class="form-control input-lg" placeholder="Email" required="">
					</div>
					<div class="form-group">
					    <input type="password" class="form-control input-lg" placeholder="Contraseña" required="">
					</div>
					<!-- <a class="text-left text-light" href="#!">No recuerdo mi contraseña</a> -->
					<button class="btn btn-danger btn-lg" type="submit">INICIAR SESIÓN</button>
				</form>
				<div class="full-width divider"></div>
				<h4 class="text-center">¿Aún no tienes cuenta?</h4>
				<a class="text-light" href="newaccount">CRÉATE UNA GRATIS</a>
			</div>
		</div>
	</section>
	{{/logged}}
	<!-- ====== Buscador movil ======-->
	<section class="full-width hidden-md hidden-lg Search-mobile">
		<form action="commercial" style="padding-top: 15px;">
			<div class="form-group">
			    <input type="text" class="form-control input-lg" placeholder="Estoy buscado..." required="">
			</div>
			<div class="form-group">
			    <input type="text" class="form-control input-lg" placeholder="Provincia, ciudad, distrito..." required="">
			</div>
			<button class="btn btn-danger btn-lg" type="submit">BUSCAR</button>
		</form>
	</section>