	{{>header}}
	<!-- ====== Contenido de pagina ======-->
	<section class="full-width section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 hidden-xs">
					<h2 class="text-center text-danger text-semi-bold">Tu cuenta</h2>
					<p class="lead text-center">
						Gestiona tus anuncios, tus favoritos, compra y vende cuando y desde dónde quieras
					</p>
					<figure class="full-width">
						<img src="assets/img/Devices.png" alt="" class="img-responsive">
					</figure>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="full-width container-login">
						<i class="fa fa-user container-login-icon" aria-hidden="true"></i>
						<h4 class="text-center text-light">CREA UNA CUENTA</h4>
						<br>
						<form th:object="${user}" th:action="@{/register}" method="post">
                            <div class="form-group">
                                <input th:field="*{FULL_NAME}" class="form-control input-lg" id="full_name" placeholder="Nombre y apellidos" type="text"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <input th:field="*{NAME}" class="form-control input-lg" id="NAME" placeholder="Email" type="email"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <input th:field="*{TEL}" id="TEL" class="form-control input-lg" placeholder="Teléfono" type="text"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <input th:field="*{PASSWORD}" class="form-control input-lg" id="PASSWORD" placeholder="Contraseña" type="text"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <input th:field="*{password2}" class="form-control input-lg" id="password2" placeholder="Repetir contraseña" type="text"
                                       class="form-control">
                            </div>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
							<p>Al registrarte aceptas las <a href="#!" style="display: inline-block;">condiciones de uso y la Política de Privacidad</a></p>
							<button class="btn btn-danger btn-lg" type="submit">CREAR CUENTA</button>
							<a href="login" class="text-center">Ya tengo una cuenta</a>
                            </form>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{>footer}}