	{{>header}}
	<!-- ====== Contenido de pagina ======-->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<form action="commercial" class="form-inline text-center">
						<div class="form-group">
							<input type="text" class="form-control input-lg" placeholder="Estoy buscando...">
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" placeholder="Ciudad, Provincia, Distrito...">
						</div>
						<button type="submit" class="btn btn-danger btn-lg">BUSCAR</button>
					</form>
				</div>
			</div>
		</div>
		<hr>
		{{#Article}}
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<ol class="breadcrumb"> <!-- Mostrar todas las categorías a las que pertenece el artículo -->
					  	{{#CATEGORYS}}
					  	<li><a href="/commercial/{{ID_CATEGORY}}">{{TITLE}}</a></li>
					  	{{/CATEGORYS}}
					  	<li  class="active">Id: #{{ID_ARTICLE}}</li>
					</ol>
					{{#RESERVED}}
					<div class="row">
						<div class="col-xs-12">
							<div class="alert alert-info" role="alert">
		  						<center>
		  							<b>Este artículo se encuentra reservado</b>
		  						</center>
							</div>
						</div>
					</div>
					{{/RESERVED}}
					{{#SOLD}}
					<div class="row">
						<div class="col-xs-12">
							<div class="alert alert-success" role="alert">
		  						<center>
		  							<b>Artículo vendido</b>
		  						</center>
							</div>
						</div>
					</div>
					{{/SOLD}}
					{{#emailSended}}
					<div class="row">
						<div class="col-xs-12">
							<div class="alert alert-success" role="alert">
		  						<center>
		  							<b>Correo enviado correctamente</b>
		  						</center>
							</div>
						</div>
					</div>
					{{/emailSended}}
					<div id="slider-commercial" class="carousel slide" data-ride="carousel">
					  	<!-- <ol class="carousel-indicators">
					    	<li data-target="#slider-commercial" data-slide-to="0" class="active"></li>
					    	<li data-target="#slider-commercial" data-slide-to="1"></li>
					    	<li data-target="#slider-commercial" data-slide-to="2"></li>
					  	</ol> -->
					  	<!-- <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      	<center><img width="750px" height="auto" src="/article/{{ID_ARTICLE}}/imagen" alt=""></center>
						    </div>
					  	</div> -->
					  	
					  	<!-- <a class="left carousel-control" href="#slider-commercial" role="button" data-slide="prev">
					    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    	<span class="sr-only">Previous</span>
					  	</a>
					  	<a class="right carousel-control" href="#slider-commercial" role="button" data-slide="next">
					    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    	<span class="sr-only">Next</span>
					  	</a> -->
					</div>
					<div class="col-xs-12">
				  		<center><img width="100%" height="auto" src="/article/{{ID_ARTICLE}}/imagen" alt=""></center>
					 </div>
					<h3>Descripción: </h3>
					<p class="lead text-justify">					
						{{DESCRIPTION}}
					</p>
					<!-- <div class="full-width div-table">
						<div class="full-width div-table-row">
							<div class="div-table-cell div-table-cell-xs div-table-cell-c">
								Matriculación: 2007
							</div>
							<div class="div-table-cell div-table-cell-xs div-table-cell-c">
								Km: 150.000 - 159.999
							</div>
							<div class="div-table-cell div-table-cell-xs div-table-cell-c">
								Combustible: Gasolina
							</div>
							<div class="div-table-cell div-table-cell-xs div-table-cell-c">
								Cambio: Manual
							</div>
						</div>
					</div> -->
					<p class="lead">
						<strong>Publicado: {{DATE}}</strong>
						&nbsp; <strong>Visto {{N_VISITS}} veces</strong>
					</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="full-width div-table">
						<div class="full-width div-table-row">
							<div class="div-table-cell div-table-cell-xs">
								<a href="/commercial" class="btn btn-default btn-block"><i class="fa fa-angle-left" aria-hidden="true"></i> Volver al listado</a>
							</div>
							<!-- <div class="div-table-cell div-table-cell-xs">
								<a href="#!" class="btn btn-default btn-block">Siguiente anuncio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div> -->
						</div>
					</div>
					<div class="full-width" style="padding:10px; background-color: #F5F5F5; margin: 7px 0;">
						<p class="lead text-center"><strong>{{TITLE}}</strong></p>
						<p class="lead text-center" style="color: #F09000;"><strong>{{PRICE}}€</strong></p>
					</div>
					<div class="full-width post-user-info">
						<center><i class="fa fa-user NavBar-Nav-icon" aria-hidden="true"></i></center>
						{{#User}}
						<div>
							<p class="full-width lead">{{FULL_NAME}}</p>
							<!-- <p class="full-width lead">{{#User}}{{NAME}}{{/User}}</p> -->
							{{#logged}}
							<p class="full-width"><i class="fa fa-mobile" aria-hidden="true"></i> {{TEL}}</p>
							{{/logged}}
						</div>
						{{/User}}
					</div>
					<div class="clearfix"></div>
					{{^logged}}
					<a class="btn btn-success btn-block" href="/login">ENVIAR MENSAJE</a>
					<a href="/login" class="btn btn-success btn-block">LLAMAR</a>
					{{/logged}}
					{{#logged}}
					{{#Owner}}
					<a href="#!" class="btn btn-primary btn-block">RESERVAR</a>
					<a href="#!" class="btn btn-primary btn-block">ANULAR RESERVAR</a>
					<a href="#!" class="btn btn-primary btn-block">VENDIDO</a>
					<a href="#!" class="btn btn-danger btn-block">ELIMINAR</a>
					{{/Owner}}
					{{^Owner}}
					<a class="btn btn-success btn-block" data-toggle="collapse" href="#collapseEmail" role="button" aria-expanded="false" aria-controls="collapseExample">ENVIAR MENSAJE</a>
					<a href="tel:{{#User}}{{TEL}}{{/User}}" class="btn btn-success btn-block">LLAMAR</a>
					<div class="collapse" id="collapseEmail">
					  <div class="card card-body">
					  	<br>
					    <form method="post" action="/message/{{ID_ARTICLE}}/{{ID_BUYER}}" class="form-horizontal" enctype="multipart/form-data">
						    <h3 class="text-info">Envía tu mensaje</h3>
						    <input type="hidden" name="to" value="{{To}}"/>
						    <input type="hidden" name="resume" value="{{Resume}}"/>
						    <div class="form-group">
						        <label class="col-sm-3 control-label">Mensaje</label>
						        <div class="col-sm-7">
						            <textarea class="form-control input-lg" rows="3" placeholder="Mensaje" NAME ="message" required=""></textarea>
						        </div>
						    </div>
						    <input type="hidden" name="_csrf" value="{{token}}"/>
						    <p class="text-center">
						        <input  type="submit" value="Enviar" class="btn btn-info"></input>
						    </p>
						</form>
					  </div>
					</div>
					{{/Owner}}
					{{/logged}}
					<p class="lead text-light" style="margin: 7px 0; background-color: #F5F5F5;">
						<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{CITY}} ({{POSTAL_CODE}})
					</p>
					<div id="map"></div>
					</br>
					<a href="/{{ID_ARTICLE}}/formularioReporte">¿ES INAPROPIADO? REPORTAR ESTE ANUNCIO</a>
					<div class="page-header">
					  	<!-- <h3 class="text-light text-center">Comparte este anuncio</small></h1> -->
					</div>
					<ul class="list-unstyled fullwidth text-center footer-social social-post">
						<!-- <li>
							<a href="">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-google-plus" aria-hidden="true"></i>
							</a>
						</li> -->
						<li>
							<h3 class="text-light text-center">Comparte este anuncio</small></h1>
							<a href="https://twitter.com/intent/tweet?text={{TITLE}}&url=https://localhost/post/{{ID_ARTICLE}}" target="_BLANK">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<!-- <li>
							<a href="#!">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li> -->
					</ul>
					<!-- <a href="#!">¿ES INAPROPIADO? REPORTAR ESTE ANUNCIO</a> -->
				</div>
			</div>
		</div>
		{{/Article}}
	</section>
	{{#MapAPI}}
	 <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .leaflet-container {
            height: 400px;
            width: 600px;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
	<script>
	// Errors because of mustache, works ok in html
		var lat = {{lat}};
		var lon = {{lon}};
	    var map = L.map('map').setView([lat, lon], 13);
	
	    var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
	        maxZoom: 18,
	        attribution: 'Map data &copy; <a target="_blank" href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
	            'Imagery © <a target="_blank" href="https://www.mapbox.com/">Mapbox</a>',
	        id: 'mapbox/streets-v11',
	        tileSize: 512,
	        zoomOffset: -1
	    }).addTo(map);
	
	    //var marker = L.marker([40.43958863903831, -3.5973164885885343]).addTo(map);
	
	    var circle = L.circle([lat, lon], {
	        color: 'red',
	        fillColor: '#f03',
	        fillOpacity: 0.5,
	        radius: 700
	    }).addTo(map);
	
	
	</script>
	{{/MapAPI}}
	{{>footer}}