<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="/search" class="form-inline text-center" enctype="text/plain" method="GET">
                <div class="form-group">
                    <input class="form-control input-lg" name="query" placeholder="Estoy buscando..." type="text">
                    <input class="form-control input-lg" name="city" placeholder="Ciudad, Provincia..." type="text"/>
                </div>
                <button class="btn btn-danger btn-lg" type="submit">BUSCAR</button>
            </form>
        </div>
    </div>
</div>