<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<form action="/search" method="GET" class="form-inline text-center" enctype="text/plain">
						<div class="form-group">
							<input type="text" name="query" class="form-control input-lg" placeholder="Estoy buscando...">
							<input type="text" name="city" class="form-control input-lg" placeholder="Ciudad, Provincia..."/>
						</div>
						<button type="submit" class="btn btn-danger btn-lg">BUSCAR</button>
					</form>
				</div>
			</div>
		</div>