{{>header}}
<!-- ====== Page content ======-->
{{>nav_side}}
<a class="list-group-item" href="/profile">
    <i aria-hidden="true" class="fa fa-user fa-fw"></i> TU PERFIL
</a>
<a class="list-group-item" href="/yourcommercial">
    <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> TUS ANUNCIOS
</a>
<a class="list-group-item active" href="/yourcommercialsold">
    <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> TUS ANUNCIOS VENDIDOS
</a>
<a class="list-group-item" href="/favorites">
    <i aria-hidden="true" class="fa fa-heart-o fa-fw"></i> FAVORITOS
</a>
{{#admin}}
<a class="list-group-item" href="/category">
    <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> GESTIÓN CATEGORÍAS
</a>
<a class="list-group-item" href="/reports">
    <i aria-hidden="true" class="fa fa-object-group fa-fw"></i> GESTIÓN REPORTES
</a>
{{/admin}}
</div>
</div>
</div>
<div class="col-xs-12 col-sm-8 col-md-9">
    <div class="full-width bar-info-user">
        <i aria-hidden="true" class="fa fa-object-group fa-fw"></i>
        <div>TUS ANUNCIOS</div>
    </div>
    <!-- Content-->
    <div class="full-widht">
        <i class="fa fa-th-large btn btn-default hidden-xs btn-change-post"></i>
        <i class="fa fa-refresh btn btn-default"></i>
        <i class="fa fa-angle-right btn btn-default"></i>
    </div>

    {{>article}}

    <div class="clearfix"></div>
    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a aria-label="Next" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>
</div>
</section>
<script>
    $(document).ready(function () {
        $('.full-width container-post').load('./paginacionArticulosPublicados.html');
    });
</script>
{{>footer}}