	{{>header}}
	<!-- ====== Contenido de pagina ======-->
	{{>nav_side}}
						  	<a href="perfil" class="list-group-item">
						  		<i class="fa fa-user fa-fw" aria-hidden="true"></i> TU PERFIL
						  	</a>
						  	<!-- <a href="config" class="list-group-item">
						  		<i class="fa fa-cogs fa-fw" aria-hidden="true"></i> CONFIGURACIÓN
						  	</a> -->
						  	<a href="yourcommercial" class="list-group-item">
						  		<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> TUS ANUNCIOS
						  	</a>
							<a href="yourcommercialsold" class="list-group-item active">
								<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> TUS ANUNCIOS VENDIDOS
							</a>
						  	<a href="favorites" class="list-group-item">
						  		<i class="fa fa-heart-o fa-fw" aria-hidden="true"></i> FAVORITOS
						  	</a>
						  	{{#admin}}
						  	<a href="categoriasAdmin" class="list-group-item">
								<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> GESTIÓN CATEGORÍAS
							</a>
							<a href="reportesAdmin" class="list-group-item">
								<i class="fa fa-object-group fa-fw" aria-hidden="true"></i> GESTIÓN REPORTES
							</a>
							{{/admin}}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<div class="full-width bar-info-user">
						<i class="fa fa-object-group fa-fw" aria-hidden="true"></i>
						<div>TUS ANUNCIOS</div>
					</div>
					<!-- Contenido-->
					<div class="full-widht">
						<i class="fa fa-th-large btn btn-default hidden-xs btn-change-post"></i>
						<i class="fa fa-refresh btn btn-default"></i>
						<i class="fa fa-angle-right btn btn-default"></i>
					</div>
					
					<div class="full-width container-post">
					
					  {{#Articles}}
						<div class="full-width post">
							<figure class="full-width post-img">
								<!-- Tamaño de la imagen 248x186 pixeles-->
								<img src="article/{{ID_ARTICLE}}/imagen" alt="" class="img-responsive">
							</figure>
							<div class="full-width post-info">
								<a href="/post/{{ID_ARTICLE}}" class="full-width post-info-title">{{TITLE}}</a>
								<p class="full-width post-info-price">{{PRICE_s}}€</p>
								<span class="post-info-zone">{{CITY}}</span>
								<span class="post-info-date">{{DATE}}</span>
								<i class="fa fa-heart-o post-info-like"></i>
							</div>
						</div>
						{{/Articles}}
					</div>
					
					<div class="clearfix"></div>
					<nav class="text-center">
						<ul class="pagination">
							<li>
							  	<a href="#" aria-label="Previous">
							    	<span aria-hidden="true">&laquo;</span>
							  	</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
							  	<a href="#" aria-label="Next">
							    	<span aria-hidden="true">&raquo;</span>
							  	</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
	 <script>
    	$(document).ready(function () {
      		$('.full-width container-post').load('./paginacionArticulosPublicados.html');
    	});
  	</script>
	{{>footer}}